@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #171717;

  font-family: system-ui, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-synthesis: none;
  line-height: 1.5;
  color: var(--foreground);
  text-rendering: optimizeLegibility;

  background: var(--background);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  p {
    /* stylelint-disable-next-line plugin/use-baseline */
    text-wrap: pretty;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /* stylelint-disable-next-line plugin/use-baseline */
    text-wrap: balance;
  }

  #root {
    isolation: isolate;
  }
}
